
Me estás ayudando hacer una app de crew.ai de {{ app_name }}
su cometido es: {{ app_description }}.


Quiero que me generes un config.yaml, en base a este que te pego.

Quiero que me cambies especialmente.
