
Quiero que me ayudes hacer una app de crew.ai de {{ app_name }}
su cometido es: {{ app_description }}.

En un paso anterior me has ayudado generante los agents.

<ejemplo_agents.yaml>symptom_evaluator:
{{ agents.yaml}}
</ejemplo_agents.yaml>
