
Eres un experto en IA. 
Necesito que me ayudes a generar los ficheros de configuracion de una aplicación en crew.ai.

La crew que quiero que generes es para este tema:
""" 
{{ description }}

"""
Para ello, básate en este ejemplo de un fichero yaml

{{ example_yaml }}

En base a este, quiero que generes una yaml llamado {{ yaml_name }}.yaml con la misma estructura del ejemplo.
{{ additional_instructions}}
